.header {
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-2), transparent);
  /* margin-bottom: rem(120px); */
  position: relative;
}

.user {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 100ms ease;

  &:hover {
    background-color: light-dark(
      var(--mantine-color-white),
      var(--mantine-color-dark-8)
    );
  }

  @media (max-width: 36em) {
    display: none;
  }
}

.userActive {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-8)
  );
}

.tabsList {
  &::before {
    display: none;
  }
}

.tab {
  font-weight: 500;
  height: rem(38);
  background-color: transparent;
  position: relative;
  bottom: -1px;

  &::before,
  &::after {
    background-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-7)
    ) !important;
  }

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-5)
    );
  }

  &[data-active] {
    background-color: light-dark(
      var(--mantine-color-white),
      var(--mantine-color-dark-7)
    );
    border-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-7)
    );
    border-bottom-color: transparent;
  }
}

.subHeader {
  display: flex !important;
  justify-content: center !important;
}

.link {
  display: inline !important;
  margin: 0 5px !important;
  color: #000 !important;
  cursor: pointer !important;
}

.innerLink {
  display: inline !important;
  cursor: pointer !important;
  color: #000 !important;
  text-decoration: none !important;
}

.input {
  background-color: #f2f2f2 !important;
}

.modal__header {
  background-color: #062D4C !important;
  position: relative !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #062D4C !important;
}

.modal__header_content {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between logo and text */
}

.modal__logo {
  width: 40px; /* Adjust logo size */
  height: 40px; /* Adjust logo size */
}

.modal__title {
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  margin: 0; /* Remove default margin */
}

.modal__close {
  color: #fff !important;
  width: 50px !important;
  height: 50px !important;
}

.modal__close:hover {
  background-color: transparent !important;
  opacity: 0.8;
}

.hover_box {
  display: flex !important;
  align-items: center !important;
  padding: 2px !important;
  border-radius: 5px !important;
}

.hover_box:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
