.main {
  background-color: #15191e !important;
  color: #fff !important;
  padding: 40px 30px !important;
  border-radius: 20px !important;
  margin: 10px !important;
}

.main__box {
  /* width: 1088px !important; */
  max-width: 1088px !important;
  margin: 0 auto !important;
}

.top {
  display: flex !important;
  justify-content: space-between !important;
  margin: 20px 0 !important;
  flex-direction: column !important;
  align-items: center !important;
  @media (min-width: 700px) {
    flex-direction: row !important;
  }
}

.order__btn {
  border-color: #14967f !important;
  color: #fff !important;
}

.social {
  width: 40px !important;
  height: 40px !important;
  background-color: transparent !important;
  border-radius: 50% !important;
  padding: 0 !important;
  border: 0 !important;
}

.middle__box {
  display: flex !important;
  justify-content: space-between !important;
  font-size: 14px !important;
  color: #a9b1bc !important;
  flex-direction: column !important;
  align-items: normal !important;
  @media (min-width: 700px) {
    flex-direction: row !important;
    align-items: flex-start !important;
  }
}

.middle__box_upper {
  display: flex !important;
  align-items: center !important;
  margin-bottom: 10px !important;
}
.contact {
  max-width: fit-content !important;
  text-align: left !important;
  color: #fff !important;
  @media (min-width: 700px) {
    max-width: 260px !important;
    text-align: right !important;
  }
}
.dates {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  @media (min-width: 700px) {
    justify-content: flex-end !important;
  }
}
.divider {
  display: inline-block !important;
  width: 100px !important;
  height: 1px !important;
  background-color: #a9b1bc !important;
  margin: 0 10px !important;
}

.box__bottom {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: space-between !important;
  color: #a9b1bc !important;
  font-size: 12px !important;
  margin: 20px 10px !important;
  @media (min-width: 700px) {
    flex-direction: row !important;
  }
}

.footer__bottom {
  margin: 20px 0 !important;
}

.mobile__links {
  display: flex !important;
  justify-content: space-between !important;
  margin: 30px 0 !important;
}

.mobile__links_inner {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}
