.form {
  max-width: 600px !important;
  border: 1px solid #d7dedd !important;
  border-radius: 16px !important;
  background-color: #fff !important;
  margin: 0 10px 20px 10px !important;
  box-shadow:
    0px 20px 20px rgba(0, 0, 0, 0.04),
    0px 4px 3.25px rgba(0, 0, 0, 0.02) !important;
  padding: 30px 20px !important;
  width: 100% !important;
  @media (min-width: 800px) {
    margin: 0 10px 20px 10px !important;
    width: 380px !important;
    max-width: 380px !important;
  }
}
