.main {
  position: relative !important;
}

.card {
  min-height: fit-content !important;
  position: relative !important;
  height: 90vh !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: end !important;
  align-items: flex-start !important;
  background-size: cover !important;
  background-position: center !important;
  box-shadow: inset 0px -146px 179px 32px rgba(0, 0, 0, 1) !important;
  padding: 50px 20px !important;
  border-radius: 0 !important;
  padding-bottom: 150px !important;
  /* @media (min-width: 700px) {
    padding: 50px 100px !important;
  } */
  @media (min-width: 1000px) {
    justify-content: flex-end !important;
    height: 90vh !important;
    padding: 100px 200px !important;
  }
}

.title {
  font-family:
    Greycliff CF,
    sans-serif !important;
  color: var(--mantine-color-white) !important;
  line-height: 1.2 !important;
  margin-top: var(--mantine-spacing-xs) !important;
}

.box__top {
  display: flex !important;
  max-width: 324px !important;
  align-items: center !important;
}

.category {
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  margin-left: 10px !important;
  @media (min-width: 1000px) {
    font-size: 24px !important;
  }
}

.cardData {
  max-width: 574px !important;
  margin: 40px 0 !important;
  border-radius: 20px;
}

.btn {
  color: #fff !important;
  border-color: #fff !important;
}
.btn__book {
  align-self: center !important;
  position: absolute !important;
  z-index: 20 !important;
  left: 5% !important;
  bottom: 10% !important;
  @media (min-width: 1000px) {
    left: auto !important;
    bottom: 20% !important;
    right: 10% !important;
  }
}

.info {
  display: none !important;
  @media (min-width: 700px) {
    display: block !important;
  }
}

.modal__content {
  flex: none !important;
  width: inherit !important;
  /* zoom: 80% !important; */
  @media (min-width: 800px) {
    width: min(80vw, 1000px) !important;
  }
}
.modal__header {
  padding: 20px !important;
  background-color: #128772 !important;
  position: relative !important;
}

.modal__title {
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  @media (min-width: 800px) {
    font-size: 18px !important;
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}
.modal__close {
  color: #fff !important;
  width: 25px !important;
  height: 25px !important;
  @media (min-width: 800px) {
    width: 50px !important;
    height: 50px !important;
  }
}

.modal__close:hover {
  background-color: transparent !important;
}

/* ---------------- */

.carousel__control {
  color: #000 !important;
  width: 30px !important;
  height: 30px !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
  @media (min-width: 900px) {
    width: 40px !important;
    height: 40px !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
  }
}

.gradient {
  background-image: url("/assets/gradient.png") !important;
  opacity: 50%;
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
}
