.box {
  min-height: 80% !important;
  background-color: #f1f3f7 !important;
  margin: 20px 10px !important;
  border: 1px solid #b4b9c9 !important;
  border-radius: 8px !important;
  padding: 20px 20px !important;
}

.domain {
  overflow-wrap: break-word;
}

.carousel__root {
  margin: 0 20px !important;

  display: flex;
  overflow: hidden; /* Ensures items don't overflow */
  position: relative;
}

.carousel_main {
  margin: 0 auto !important;
  max-width: 350px !important;
  width: 100%;
  overflow: hidden;
  @media (min-width: 800px) {
    max-width: 1350px !important;
  }
}

.custom_carousel_item {
  width: 308px !important;
  min-height: 483px !important;
  flex: 1 !important;
}

.title {
  height: 2.5em; /* Approx height for two lines */
  line-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* Clamp to two lines */
  -webkit-box-orient: vertical;
}