.main {
  position: relative !important;
  background-image: url("/assets/overlay.png") !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  background-color: #f8faff !important;
  margin: 60px auto !important;
  padding: 50px 10px 0 10px !important;
  max-width: fit-content !important;
  border-radius: 10px !important;
  border: 1px solid #d4d8e2 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  @media (min-width: 600px) {
    padding: 50px 50px 0 50px !important;
  }
  @media (min-width: 800px) {
    max-width: inherit !important;
    justify-content: space-between !important;
    flex-direction: row !important;
    margin: 60px auto !important;
    align-items: flex-start !important;
    padding: 100px 50px !important;
  }
}

.bg {
  bottom: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  order: 3 !important;
  @media (min-width: 800px) {
    position: absolute !important;
  }
}

.info {
  max-width: 260px !important;
  @media (min-width: 400px) {
    max-width: 333px !important;
  }
}

.form {
  max-width: 400px !important;
  border: 1px solid #d7dedd !important;
  border-radius: 16px !important;
  background-color: #fff !important;
  margin: 20px 10px !important;
  box-shadow:
    0px 20px 20px rgba(0, 0, 0, 0.04),
    0px 4px 3.25px rgba(0, 0, 0, 0.02) !important;
  padding: 30px 20px !important;
  @media (min-width: 800px) {
    margin: 0 !important;
    width: 400px !important;
  }
}

.input__root {
  border: 1px solid #d7dedd !important;
  border-radius: 6px !important;
}

.label {
  color: #333333 !important;
  font-size: 10px !important;
}
